.form-login {
  max-width: 450px;
  margin: 5rem auto;
  padding-bottom: 3rem;
}
.justify-between {
  justify-content: space-between;
}
.form-group {
  margin-bottom: 15px;
}
.panel-body {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
}
.form-group label {
  margin-bottom: 5px;
}
.span-stt {
  display: inline-flex;
  padding: 0 10px;
  line-height: 20px;
  border-radius: 4px;
  font-size: 12px;
}
.flex-end {
  justify-content: flex-end;
  align-items: flex-end;
}

#upload {
  opacity: 0;
}

#upload-label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.image-area {
  border: 1px dashed rgb(237 237 237);
  padding: 5px;
  position: relative;
  display: inline-block;
  border-radius: 4px;
}

.image-area img {
  z-index: 2;
  position: relative;
  max-height: 200px;
  border-radius: 4px;
}
.pl-5 {
  padding-left: 5rem;
}

/*
* bootstrap-tagsinput v0.8.0
* 
*/

.bootstrap-tagsinput {
background-color: #fff;
border: 1px solid #ccc;
display: block;
padding: .675rem 1.25rem;
color: #555;
vertical-align: middle;
border-radius: .5rem;
max-width: 100%;
line-height: 1;
cursor: text;
font-size: .875rem;
}
.bootstrap-tagsinput input {
border: none;
box-shadow: none;
outline: none;
background-color: transparent;
padding: 0 6px;
margin: 0;
width: auto;
max-width: inherit;
}
.bootstrap-tagsinput.form-control input::-moz-placeholder {
color: #777;
opacity: 1;
}
.bootstrap-tagsinput.form-control input:-ms-input-placeholder {
color: #777;
}
.bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
color: #777;
}
.bootstrap-tagsinput input:focus {
border: none;
box-shadow: none;
}
.bootstrap-tagsinput .tag {
margin-right: 2px;
color: white;
background: #f1af51;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
margin-left: 8px;
cursor: pointer;
font-family: "Font Awesome 5 Pro";
font-weight: 300;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {content: "\f00d";padding: 2px 2px;font-size: 10px;display: inline-flex;}
select.form-control {
  background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) 18px, calc(100% - 15px) 18px, calc(100% - 2.5em) 11px;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}
.navigation-end .pagination{
justify-content: flex-end;
}
.pagination li span, .pagination li a {
    padding: 5px 10px;
    min-width: 33px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 4px;
    font-size: 14px;
    transition: .3s;
}

.pagination li{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  text-decoration: none;
}
.pagination li a {
  color: #a7a7a7;
}
.pagination li a:hover {
    color: #fff;
    background: #f1af51;
}
.pagination li.active span {color: #fff;background: #f1af51;}

.pagination li.disabled {
color: #ccc;
}
.pagination li:last-child {
margin-right: 0;
}
.gallery_product_list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.gallery_product_list li {
    display: inline-flex;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border: 1px dashed #ccc;
    border-radius: 10px;
    position: relative;
}

.gallery_product_list li img {
    max-width: 150px;
}
.del_gal {
    position: absolute;
    right: 1rem;
    z-index: 1;
    display: inline-flex;
    width: 30px;
    height: 30px;
    background: #f4f4f4;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 12px; 
}
.error {
    color: red;
    margin-top: 3px;
    display: block;
}

.has-error {
    border: 1px solid red;
}
.update_status_order {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.update_status_order select {
    max-width: 60%;
}
.alert ul {
    margin: 0;
}
.help-block {
    display: block;
    margin-top: 5px;
    color: red;
}
.empty-product {
    padding: 2.5rem;
    text-align: center;
    color: #777;
}

.empty-product i {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.empty-product p {
    font-size: 1.25rem;
}
.relative {
    position: relative;
}
.edit_feeship {
    cursor: pointer;
}

.update_feeship {
    display: none;
}
.br-6 {
    border-radius: 6px;
}
.preview-gallery {
  width: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4,minmax(50px,1fr));
  position: relative;
}

.gallery_upload, .gallery-item {
  width: 100%;
  /* min-height: 100px; */
  display: inline-flex;
  padding: 5px;
  justify-content: center;
  border: 1px dashed #ccc;
  border-radius: 4px;
  position: relative;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer; 
  transition: all 0.5s;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.gallery_upload input[type="file"],
.gallery-item input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}
.gallery_upload i{
    font-size: 30px;
    color: #f0ae51;
}
.imageThumb {
  width: 100%;
  border-radius: 4px;
}

.gallery_upload span.remove, 
.gallery-item span.remove {
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
}
.dropzone-upload {
  color: #777;
  position: relative;
  border: 1px solid #ced4da;
  padding: 1rem;
  border-radius: 6px;
  min-height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.dropzone-upload input[type=file] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
@media screen and (max-width:1366px) {
  .preview-gallery {
    grid-template-columns: repeat(3,minmax(50px,1fr));
  }
}
.align-center {
  align-items: center;
}
.address-shipping-content i {
  width: 30px;
  line-height: 1.6;
}
.attributes_add--row {
    width: 100%;
    border: 1px dashed #f1af51;
    color: #f1af51 !important;
}
.attributes_rows {
    position: relative;
}
.attributes_div {
    position: relative;
    border: 1px dashed #ccc;
    padding: 1rem;
    border-radius: 6px;
}
.attributes_div--child {
    position: relative;
}

.attributes_div--child p {
    margin-bottom: 10px;
}
.attributes_item--child {
    position: relative;
    padding-right: 50px;
    align-items: center;
}
.remove_attr, .delete-attr {
    position: absolute;
    right: 10px;
    width: 30px;
    height: 30px;
    top: 7px;
}
.remove_attributes_rows {
    position: absolute;
    right: 15px;
}
input.form-control[type="color"] {
    height: 45px;
    cursor: pointer;
}
.pr-150 {
  padding-right: 150px;
}
.pr-0 {
  padding-right: 0;
}
.action-column {
  height: 100%;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
} 
.action-column a {
    display: inline-block;
    margin-left: 1rem;
}

.action-column a.delete-attributes,
.action-column a.delete-color {
    color: #ff7272;
}

.action-column a.update-attributes,
.action-column a.update-color,
.action-column a.update-image-color {
    color: #25c2e3;
}
.loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: rgb(255 255 255 / 25%);
  align-items: center;
  justify-content: center;
  display: flex;
}

.loading img {
  max-width: 30px;
  position: relative;
  opacity: 0.3;
}
.img-color-group {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;
}

.img-color {
    height: 80px;
    border-radius: 4px;
    margin-right: 1rem;
    width: 80px;
    object-fit: cover;
}
.dk-block {
    display:none;
}
.bagde {
    position: absolute;
    font-size: 12px;
    display: inline-flex;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.count_number {
    background: #ea4444;
    color: #fff;
}
@media screen and (min-width: 1441px) {
   .dk-block {
       display: table-cell;
   } 
}
.text-black {
    color: #000;
}
.text-3 {
    font-size: 18px;
}
.pl-2 {
    padding-left: 1rem;
}