
body {
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: inherit;
  margin: 0;
  padding: 0;
  font-weight: 400;
}
.wrap {
  overflow: hidden;
  position: relative;
} 
dl, ol, ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
* {
  box-sizing: border-box;
  outline: none;
}
img {
  max-width: 100%;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  color: #dc9814;
}
.container {
  /*max-width: 1200px;*/
  position: relative;
  width: 100%;
}
input,
input:focus,
input:hover {
  outline: none;
}
input::placeholder {
    font-size: 14px;
}
label {
    margin-bottom: 5px;
}
/*Begin Class*/
.border {
  border: 1px solid #e5e5e5;
}
.no-margin {
  margin: 0;
}
.border-left {
  border-left: 1px solid #e5e5e5;
}
.border-right {
  border-right: 1px solid #e5e5e5;
}
.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}
.transition {
  transition: all 0.4s ease-out 0s;
  -webkit-transition: all 0.4s ease-out 0s;
}
.radius4 {
  border-radius: 0px;
}
.radius6 {
  border-radius: 6px;
}
.drop-shadow {
  box-shadow: 0px -5px 20px 0px rgba(0, 0, 0, 0.1);
}
.round {
  border-radius: 50%;
}
.desc {
  color: #333;
  margin: 0;
  line-height: 24px;
}
.white {
  color: #fff;
}
.black {
  color: #000;
}
.dark {
  color: #000;
}
.gray {
  color: #555;
}
.silver {
  color: #999;
}
.silver2{
  color: #ccc;
}
.navi {
  color: #1b2b3a;
}
.opaci {
  opacity: 0.7;
}
.bg-navi {
  background: #1b2b3a;
}
.blue {
  color: #43567e;
}
.red {
  color: #F44336;
}
.bg-blue {
  background: #43567e;
}
.smoke {
  color: #ccc;
}
.bg-white {
  background: #fff;
}
.title14,
.title8,
.title12,
.title16,
.title18,
.title24,
.title30,
.title36,
.title40,
.title48,
.title52,
.title60,
.title90,
.title120,
.title160,
.title100,
.title200 {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}
.title8 {
  font-size: 8px;
}
.title12 {
  font-size: 12px;
}
.title16 {
  font-size: 16px;
}
.title18 {
  font-size: 18px;
}
.title24 {
  font-size: 24px;
}
.title30 {
  font-size: 30px;
}
.title36 {
  font-size: 36px;
}
.title40 {
  font-size: 40px;
}
.title48 {
  font-size: 48px;
}
.title52 {
  font-size: 52px;
}
.title60 {
  font-size: 60px;
}
.title90 {
  font-size: 90px;
}
.title120 {
  font-size: 5rem;
}
.title160 {
  font-size: 160px;
}
.title100 {
  font-size: 100px;
}
.title200 {
  font-size: 200px;
}
.vibes-font {
  font-family: 'Great Vibes', cursive;
  font-weight: 400;
  text-transform: inherit;
}
.rale-font {
  font-family: 'Raleway', sans-serif;
}
.anton-font {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
}
.poiret-font {
  font-family: 'Poiret One', cursive;
  font-weight: 400;
}
.archivo-font{
  font-family: 'Archivo Narrow', cursive;
  font-weight: 400;
}
.juliussans-font{
  font-weight: bold;
}
.letter-5{
  letter-spacing: 5px;
}
.link-btn {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 20px;
  border-style: solid;
  border-width: 1px;
  text-transform: uppercase;
  transition: all 0.4s ease-out 0s;
  -webkit-transition: all 0.4s ease-out 0s;
}
.font-bold {
  font-weight: 700;
}
.font-medium {
  font-weight: 500;
}
.font-light {
  font-weight: 300;
}
.absolute,
.item-contact-page .contact-thumb::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";
}
.inline-block {
  display: inline-block;
  vertical-align: top;
}
.list-none {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list-none .float {
    display: flex;
    align-items: center;
    position: relative;
}
.list-none .float i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border: 1px solid;
    border-radius: 20px;
    font-size: 12px;
    margin-right: 10px;
}
.list-inline-block {
  margin: 0;
  padding: 0;
  list-style: none;
}
.list-inline-block > li {
  display: inline-block;
  vertical-align: top;
}
.table-custom {
  display: table;
  margin: 0;
  width: 100%;
  border-spacing: 0 15px;
  border-collapse: separate;
  padding: 0;
}
.table-custom, .table-custom tr, .table-custom th {
    border: 0;
}

.table-custom th {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
}

.table-custom td {
    border: 0;
    padding: 15px 10px;
    background: #f9f9f9;
    vertical-align: middle;
}

.table-custom td:first-child {
    border-radius: 5px 0 0 5px;
}

.table-custom td:last-child {
    border-radius: 0 5px 5px 0;
}
.table-custom > div {
  display: table-cell;
  vertical-align: top;
}
/*End Class*/
/*Begin Owl Carousel*/
.wrap-item > div:not(:first-child) {
  display: none;
}
.owl-theme .owl-controls {
  margin: 0;
}
.owl-theme .owl-controls .owl-buttons div {
  height: 30px;
  width: 30px;
  line-height: 30px;
  font-size: 14px;
  background: #f5f5f5;
  display: inline-block;
  opacity: 1;
  padding: 0;
  text-align: center;
  margin: -12px 0 0;
  border-radius: 0px;
  border: none;
  font-size: 14px;
  position: absolute;
  top: 50%;
  z-index: 9;
  color: #000;
  transition: all 0.4s ease-out 0s;
  -webkit-transition: all 0.4s ease-out 0s;
}
.owl-theme .owl-controls .owl-buttons div:hover{
  color: #dc9814;
}
.owl-theme .owl-controls .owl-buttons div.owl-prev {
  left: 0;
}
.owl-theme .owl-controls .owl-buttons div.owl-next {
  right: 0;
}
.banner-slider {
  position: relative;
  overflow: hidden;
}
.banner-slider .banner-thumb {
  position: relative;
}
.banner-slider .banner-thumb a {
  display: block;
}
.banner-slider .banner-thumb video {
  width: 100%;
  display: block;
}
.banner-slider .owl-theme .owl-controls .owl-buttons div {
  opacity: 0;
}
.banner-slider:hover .owl-theme .owl-controls .owl-buttons div {
  opacity: 1;
}
.banner-slider .owl-theme .owl-controls .owl-buttons div.owl-prev {
  left: -100px;
}
.banner-slider .owl-theme .owl-controls .owl-buttons div.owl-next {
  right: -100px;
}
.banner-slider:hover .owl-theme .owl-controls .owl-buttons div.owl-prev {
  left: 15px;
}
.banner-slider:hover .owl-theme .owl-controls .owl-buttons div.owl-next {
  right: 15px;
}
.owl-theme .owl-controls .owl-pagination {
  padding: 15px 0;
}
.owl-theme .owl-controls .owl-page {
  vertical-align: top;
  border-radius: 50%;
  margin: 0 5px;
}
.owl-theme .owl-controls .owl-page span {
  position: relative;
  background: #000;
  margin: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  opacity: 1;
  position: relative;
  transition: all 0.4s ease-out 0s;
  -webkit-transition: all 0.4s ease-out 0s;
}
.owl-theme .owl-controls .owl-page.active span {
  background: #999;
}
.owl-theme .owl-controls .owl-page.active span{
  background: #000;
}
.owl-theme .owl-controls .owl-page.active span:before{
  content: "";
  position: absolute;
  height: 4px;
  width: 4px;
  background: #fff;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.banner-slider.bg-slider .item-slider {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-slider .item-slider {
  position: relative;
}
.banner-slider.bg-slider .banner-thumb img {
  max-width: none;
  opacity: 0;
  width: auto;
}
.group-navi .owl-buttons {
  position: absolute;
  right: 15px;
  top: -40px;
  width: 61px;
  margin: auto;
}
.banner-slider .banner-thumb img {
  width: 100%;
}
.banner-slider .banner-info {
  height: 200px;
}
.banner-info {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9;
}
/*End Owl Carousel*/
/*Begin Custom Scroll*/
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown {
  display: none;
}
.mCSB_container {
  margin-right: 0;
}
.mCustomScrollBox > .mCSB_scrollTools {
  width: 4px;
}
/*End Custom Scroll*/
/*Begin Box Hover Dir*/
.box-hover-dir {
  overflow: hidden;
  position: relative;
  cursor: all-scroll;
}
.box-hover-dir > div {
  height: 100%;
  position: absolute;
  width: 100%;
  transition: all 0.5s ease-out 0s !important;
  -webkit-transition: all 0.5s ease-out 0s !important;
}
/*End Box Hover Dir*/
/*Begin Banner Adv*/
.banner-advs {
  position: relative;
}
.adv-thumb-link {
  display: block;
  overflow: hidden;
  position: relative;
}
.adv-thumb-link > img {
  display: block;
  width: 100%;
  transition: all 0.4s ease-out 0s;
  -webkit-transition: all 0.4s ease-out 0s;
}
/*Zoom Rotate*/
.zoom-rotate .adv-thumb-link > img {
  transform: scale(1) rotate(0);
  -webkit-transform: scale(1) rotate(0);
}
.zoom-rotate:hover .adv-thumb-link > img {
  transform: scale(1.15) rotate(4deg);
  -webkit-transform: scale(1.15) rotate(4deg);
}
/*Zoom Image*/
.zoom-image:hover .adv-thumb-link > img {
  transform: scale(1.15);
  -webkit-transform: scale(1.15);
}
/*Fade Out In*/
.fade-out-in .adv-thumb-link::before,
.fade-out-in .adv-thumb-link::after,
.fade-in-out .adv-thumb-link::before,
.fade-in-out .adv-thumb-link::after,
.overlay-image .adv-thumb-link::after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
  z-index: 1;
  transition: all 0.4s ease-out 0s;
  -webkit-transition: all 0.4s ease-out 0s;
}
.fade-out-in:hover .adv-thumb-link::before {
  opacity: 1;
  top: 50%;
  bottom: 50%;
}
.fade-out-in:hover .adv-thumb-link::after {
  opacity: 1;
  left: 50%;
  right: 50%;
}
/*Fade In Out*/
.fade-in-out .adv-thumb-link::before {
  opacity: 1;
  top: 50%;
  bottom: 50%;
}
.fade-in-out .adv-thumb-link::after {
  opacity: 1;
  left: 50%;
  right: 50%;
}
.fade-in-out:hover .adv-thumb-link::before {
  opacity: 0;
  top: 0;
  bottom: 0;
}
.fade-in-out:hover .adv-thumb-link::after {
  opacity: 0;
  left: 0;
  right: 0;
}
/*Pull Curtain*/
.pull-curtain .adv-thumb-link::before {
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.1);
  content: "";
  position: absolute;
  z-index: 1;
  transition: all 0.4s ease-out 0s;
  -webkit-transition: all 0.4s ease-out 0s;
}
.pull-curtain .adv-thumb-link::after {
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.1);
  content: "";
  position: absolute;
  z-index: 1;
  transition: all 0.4s ease-out 0s;
  -webkit-transition: all 0.4s ease-out 0s;
}
.pull-curtain:hover .adv-thumb-link::before,
.pull-curtain:hover .adv-thumb-link::after {
  width: 100%;
  height: 100%;
  opacity: 1;
}
/*Overlay Image*/
.overlay-image .adv-thumb-link::after {
  background: rgba(0, 0, 0, 0.5);
}
.overlay-image:hover .adv-thumb-link::after {
  opacity: 1;
}
/*Blue Image*/
.blur-image:hover .adv-thumb-link img {
  filter: blur(5px);
  -webkit-filter: blur(5px);
}
/*Gray Image*/
.gray-image:hover .adv-thumb-link img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
/*Zoom Out*/
.zoom-out .adv-thumb-link img:last-child {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transform: scale(3);
  -webkit-transform: scale(3);
}
.zoom-out:hover .adv-thumb-link img {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  -webkit-transform: scale(1);
}
/*Line Scale*/
.line-scale .adv-thumb-link::before {
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 10px;
  right: 10px;
  content: "";
  border-top: 1px solid rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  z-index: 1;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  transition: all 0.4s ease-out 0s;
  -webkit-transition: all 0.4s ease-out 0s;
}
.line-scale .adv-thumb-link::after {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 20px;
  right: 20px;
  content: "";
  border-left: 1px solid rgba(255, 255, 255, 0.9);
  border-right: 1px solid rgba(255, 255, 255, 0.9);
  z-index: 1;
  transform: scaleY(0);
  -webkit-transform: scaleY(0);
  transition: all 0.4s ease-out 0s;
  -webkit-transition: all 0.4s ease-out 0s;
}
.line-scale:hover .adv-thumb-link::before,
.line-scale:hover .adv-thumb-link::after {
  transform: scale(1);
  -webkit-transform: scale(1);
}
/*End Banner Adv*/
/*******************************************************************************************************
                    Preview Menu        
********************************************************************************************************/
.main-nav > ul > li .sub-menu > li.menu-item-preview {
  position: relative;
}
.main-nav > ul > li .sub-menu > li.menu-item-preview::after {
  position: absolute;
  width: 10px;
  height: 40px;
  top: 0;
  left: 100%;
  content: "";
  background: transparent;
}
.main-nav > ul > li .sub-menu > li.menu-item-preview > .preview-image {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  left: 100%;
  padding: 5px;
  position: absolute;
  top: 0;
  width: 200px;
  opacity: 0;
  visibility: hidden;
  margin-left: 10px;
  border: 1px solid #e5e5e5;
  transition: all 0.4s ease-out 0s;
  -webkit-transition: all 0.4s ease-out 0s;
}
.main-nav > ul > li .sub-menu > li.menu-item-preview:hover > .preview-image {
  opacity: 1;
  visibility: visible;
}
.main-nav > ul > li .sub-menu > li.menu-item-preview > .preview-image > a {
  display: block;
  height: 140px;
  overflow: hidden;
  position: relative;
}
.main-nav > ul > li .sub-menu > li.menu-item-preview > .preview-image > a > img {
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.4s ease-out 0s;
  -webkit-transition: all 0.4s ease-out 0s;
  width: 100%;
}
.main-nav > ul > li .sub-menu > li.menu-item-preview > .preview-image > a:hover > img {
  top: 100%;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
}
/*Begin Header On Top*/
.header-ontop {
  transition: all 0.4s ease-out 0s;
  -webkit-transition: all 0.4s ease-out 0s;
}
.header-ontop.fixed-ontop {
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  visibility: visible;
  right: 0;
  z-index: 999!important;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  left: 0;
  position: fixed!important;
  top: 0!important;
}
.header-top {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    padding: 0 20px;
    background: #efefef;
}

.innerTopLeft {
    position: relative;
}

.innerTopLeft ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
}

.innerTopRight {
    position: relative;
}

.innerTopRight ul {
    margin: 0;
    display: flex;
    justify-content: flex-end;
}
/*End Header On Top*/
/*Begin Main Nav*/
.wpb_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px;
}

.block-end {
    display: flex;
    align-items: center;
    min-width: 200px;
    justify-content: flex-end;
}
.main-nav {
  position: relative;
  z-index: 1001;
}
.main-nav > ul {
  font-size: 0;
  list-style: none none;
  padding: 0;
  position: relative;
  margin: 0;
}
.main-nav > ul > li {
  display: inline-block;
  font-size: 14px;
}
.main-nav > ul > li > a {
  color: #000;
  display: block;
  position: relative;
  padding: 20px 0;
  margin: 0 20px;
  text-transform: uppercase;
  font-weight: 500;
}
.main-nav > ul > li.current-menu-item > a {
  background: rgba(255, 255, 255, 0.1);
}
.main-nav > ul > li.has-mega-menu > a::after,
.main-nav > ul > li.menu-item-has-children > a::after {
  content: "\f107";
  font-family: "Font Awesome 5 Pro";
  margin-left: 5px;
  display: inline-block;
}
.main-nav li.menu-item-has-children {
  /* position: relative; */
}
.main-nav li.menu-item-has-children:hover > .sub-menu {
  margin: 0;
  -webkit-transform: rotate3d(0,0,0,
0deg
);
  -moz-transform: rotate3d(0,0,0,0deg);
  -o-transform: rotate3d(0,0,0,0deg);
  -ms-transform: rotate3d(0,0,0,0deg);
  transform: rotate3d(0,0,0,
0deg
);
  opacity: 1;
  visibility: visible;
}
.main-nav .sub-menu {
  background: #fff;
  position: absolute;
  z-index: 999;
  -webkit-transform: rotate3d(1,0,0,
-90deg
);
  -moz-transform: rotate3d(1,0,0,-90deg);
  -o-transform: rotate3d(1,0,0,-90deg);
  -ms-transform: rotate3d(1,0,0,-90deg);
  transform: rotate3d(1,0,0,
-90deg
);
  -webkit-transform-origin: 0 0 0;
  -moz-transform-origin: 0 0 0;
  -o-transform-origin: 0 0 0;
  -ms-transform-origin: 0 0 0;
  transform-origin: 0 0 0;
  -webkit-transition: all .2s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  opacity: 0;
  visibility: hidden;
  left: 0;
  /* right: 0; */
  border-top: 2px solid #fff;
  top: 100%;
  padding: 15px 0;
  -webkit-box-shadow: 0 3px 4px 0 rgb(0 0 0 / 5%);
  -moz-box-shadow: 0 3px 4px 0 rgba(0,0,0,.05);
  -o-box-shadow: 0 3px 4px 0 rgba(0,0,0,.05);
  -ms-box-shadow: 0 3px 4px 0 rgba(0,0,0,.05);
  box-shadow: 0 3px 4px 0 rgb(0 0 0 / 5%);
}
.main-nav .sub-menu li {
  text-transform: uppercase;
}
.main-nav .sub-menu li:hover {
}
.main-nav li.has-mega-menu > .mega-menu {
  left: 0;
  list-style: none;
  opacity: 0;
  padding: 35px 40px 28px;
  position: absolute;
  top: 100%;
  visibility: hidden;
  width: 100%;
  z-index: 999;
  text-align: left;
  margin: 15px 0 0;
  transition: all 0.4s ease-out 0s;
  -webkit-transition: all 0.4s ease-out 0s;
  background-color: #f9f9f9;
  -webkit-box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.75);
}
.main-nav li.has-mega-menu:hover > .mega-menu {
  margin: 0;
  opacity: 1;
  visibility: visible;
}
.main-nav > ul > li.menu-item-has-children.has-mega-menu {
  position: static;
}
.main-nav > ul > li .sub-menu > li > a {
  display: block;
  padding: 6px 40px;
  position: relative;
  line-height: 24px;
  font-size: 14px;
  text-transform: capitalize;
  white-space: nowrap;
}
.main-nav > ul > li .sub-menu > li:last-child > a {
  border-bottom: none;
}
.main-nav > ul > li.has-mega-menu .sub-menu > li {
  padding: 0;
}
.main-nav > ul > li .sub-menu > li.menu-item-has-children > a {
  padding-right: 20px;
  position: relative;
}
.main-nav > ul > li .sub-menu > li.menu-item-has-children > a::after {
  content: "\f105";
  font-family: fontAwesome;
  position: absolute;
  right: 15px;
  top: 5px;
}
.main-nav > ul > li.menu-item-has-children li.menu-item-has-children > .sub-menu {
  left: 100%;
  top: 0;
}
.main-nav > ul > li.menu-item-has-children li.menu-item-has-children > .sub-menu.offset-right {
  left: auto;
  right: 100%;
}
.main-nav .sub-menu.offset-right {
  left: auto;
  right: 0;
}
.mega-menu.sub-menu {
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.mega-menu.sub-menu ul li a {
    text-transform: capitalize;
    font-size: 14px;
    display: block;
    padding: 10px 0;
    font-weight: 500;
}

.mega-product-menu {
    display: grid;
    grid-template-columns: repeat(3,minmax(100px,1fr));
    width: 70%;
    grid-gap: 10px;
}

.mega-menu.sub-menu ul {
    width: 30%;
}

.mega-product-menu .product-thumb-link img {
    height: auto;
}
/*Pointer Event*/
.sub-menu,
.mega-menu,
.dropdown-list {
  pointer-events: none;
}
.dropdown-box:hover > .dropdown-list,
li.has-mega-menu:hover > .mega-menu,
li.menu-item-has-children:hover > .sub-menu {
  pointer-events: inherit;
}
/*End Main Nav*/
/*Begin Toggle Mobile Menu*/
.main-nav .toggle-mobile-menu {
  display: none;
  height: 24px;
  width: 24px;
  font-size: 24px;
  position: relative;
  transition: all 0.4s ease-out 0s;
  -webkit-transition: all 0.4s ease-out 0s;
}
.main-nav .toggle-mobile-menu span {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 50%;
  background: #dc9814;
}
.main-nav .toggle-mobile-menu::before,
.main-nav .toggle-mobile-menu::after {
  content: '';
  position: absolute;
  top: 0;
  height: 2px;
  width: 100%;
  left: 0;
  top: 50%;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  background: #dc9814;
}
.main-nav .toggle-mobile-menu::before {
  -webkit-transform: translate3d(0, -8px, 0);
  transform: translate3d(0, -8px, 0);
}
.main-nav .toggle-mobile-menu::after {
  -webkit-transform: translate3d(0, 8px, 0);
  transform: translate3d(0, 8px, 0);
}
.main-nav.active .toggle-mobile-menu::before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}
.main-nav.active .toggle-mobile-menu::after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}
.main-nav.active .toggle-mobile-menu span {
  display: none;
}
/*End Toggle Mobile Menu*/
/*Begin Menu Responsive*/
@media (max-width: 991px) {
  .mega-menu {
    display: none;
  }
  .main-nav .toggle-mobile-menu {
    display: block;
  }
  .main-nav .sub-menu {
    background: #fff none repeat scroll 0 0;
    display: none;
    margin: 0!important;
    opacity: 1!important;
    visibility: visible!important;
    position: static!important;
    box-shadow: none!important;
    border-top: 1px solid #e5e5e5;
    transition: none;
  }
  .main-nav > ul > li > a::before {
    display: none!important;
  }
  .main-nav > ul > li > a {
    color: #333!important;
    border-top: 1px solid #e5e5e5!important;
  }
  .main-nav {
    margin: 0;
  }
  .main-nav > ul {
    position: absolute;
    left: auto;
    right: 0;
    top: 100%;
    margin: 10px 0 0;
    width: 290px;
    z-index: 999;
    background: #fff;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease-out 0s;
    -webkit-transition: all 0.4s ease-out 0s;
    transform: translateX(320px);
    -webkit-transform: translateX(320px);
    text-align: left;
  }
  .main-nav.active > ul {
    transform: translateX(0) !important;
    -webkit-transform: translateX(0) !important;
  }
  .main-nav > ul > li {
    display: block;
    margin: 0 15px !important;
    padding: 0!important;
    position: relative;
  }
  .main-nav .sub-menu li a::before {
    display: none;
  }
  .main-nav > ul li > a {
    display: block;
    font-size: 14px!important;
    font-weight: 400;
    height: auto !important;
    line-height: inherit !important;
    padding: 10px 0!important;
    border-bottom: none!important;
    margin: 0px;
  }
  .main-nav > ul li:first-child > a {
    border: medium none!important;
  }
  .main-nav .sub-menu > li {
    padding: 0px!important;
    margin: 0 0 0 15px;
  }
  .main-nav > ul > li.menu-item-has-children.has-mega-menu {
    position: relative;
  }
  .main-nav > ul li.menu-item-has-children .menu-item-has-children > a::after {
    right: 0;
    top: 0;
  }
  .main-nav > ul > li.menu-item-has-children > a::after {
    display: none;
  }
  .main-nav > ul > li .sub-menu {
    display: none;
    width: 100%;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: none;
  }
  .btn-toggle-mobile-menu {
    cursor: pointer;
  }
  .btn-toggle-mobile-menu::after {
    position: absolute;
    content: "\f107";
    font-family: fontAwesome;
    top: 4px;
    right: -11px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
  }
  .btn-toggle-mobile-menu.active::after {
    content: "\f106";
  }
  .main-nav > ul > li.menu-item-has-children li.menu-item-has-children > .sub-menu {
    left: 0;
    top: 100%;
    padding: 0;
  }
  .main-nav > ul > li.menu-item-has-children li.menu-item-has-children > a::after {
    display: none;
  }
  .main-nav > ul > li.has-mega-menu > a::after {
    display: none!important;
  }
  .menu-item-preview .preview-image {
    display: none;
  }
  .sub-menu,
  .mega-menu,
  .dropdown-list {
    pointer-events: inherit;
  }
  .main-nav > ul > li .sub-menu > li > a {
    background: #fff!important;
  }
  .main-nav li.has-mega-menu > .mega-menu {
    display: none;
    opacity: 1;
    margin: 0;
    border: 1px solid #f5f5f5;
  }
}
/*End Menu Responsive*/
/*Begin Rating*/
.product-rate {
  overflow: hidden;
  position: relative;
  height: 13px;
  line-height: 13px;
  width: 98px;
  font-family: "Font Awesome 5 Pro";
  font-weight: 600;
  font-size: 12px;
}
.product-rate:before{
  content: '\f005\f005\f005\f005\f005';
  position: absolute;
  float: left;
  top: 0;
  left: 0;
  color: #ddd;
  letter-spacing: 8px;
}
.product-rating {
  overflow: hidden;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  padding-top: 13px;
}
.product-rating:before{
  content: '\f005\f005\f005\f005\f005';
  position: absolute;
  top: 0;
  left: 0;
  color: #f1af51;
  letter-spacing: 8px;
}
.product-rate.style2,
.product-rate.style2 .product-rating {
  background-image: url(../images/icon/rate-star2.png);
}
.item-product.text-center .product-rate {
  margin: auto;
}
/*End Rating*/
/*Button Scoll*/
body .scroll-top {
  display: flex;
  align-items: center;
  bottom: 90px;
  opacity: 0;
  position: fixed;
  right: -30px;
  z-index: 999;
  background: transparent;
  color: #000;
  transform: rotate(-90deg);
}
body .scroll-top .text-bttop {
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 22px;
}

body .scroll-top .fal {
    font-size: 20px;
    margin-left: 10px;
}
body .scroll-top:hover{
  color: #dc9814;
}
.scroll-top.active {
  opacity: 1;
  color: #000;
}
/*Begin Product*/
.product-slider .item-product {
  margin: 0 15px 0px;
}
.product-slider {
  margin: 0 -15px;
}
.item-product .product-info {
  padding-top: 17px;
  position: relative;
  background: #fff;
}
.product-thumb {
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease-out 0s;
  -webkit-transition: all 0.4s ease-out 0s;
}
.product-thumb img.wp-post-image {
    width: 100%;
    height: 330px;
    object-fit: cover;
}
.product-title {
  margin: 0 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
}
.detail-info .product-title {
  padding-right: 100px;
}

div.table .product-info .product-title {
  white-space: normal;
}
.product-price ins {
  text-decoration: none;
}
.mini-cart-qty {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 500;
}

.mini-cart-qty .qty-num {
    margin-right: 5px;
}

.mini-cart-qty .flex-wrap {
    margin-left: 5px;
}

.mini-cart-qty .price-sale {
    font-size: 89%;
    text-decoration: line-through;
    color: #777;
    margin-right: 5px;
}
.product-price {
  margin: 0 -2px 7px;
}
.product-price > * {
  margin: 0 2px;
}
.detail-info .product-price {
  margin: 30px 0 35px;
}
.product-price .sale-per {
    font-size: 12px;
    font-weight: 600;
    color: red;
    margin-top: 10px;
    display: inline-block;
}

/*Overlay Product*/
.product-thumb-link {
  display: block;
  position: relative;
  overflow: hidden;
}
.product-thumb-link img {
  width: 100%;
  transition: all 0.4s ease-out 0s;
  -webkit-transition: all 0.4s ease-out 0s;
  height: 400px;
  object-fit: cover;
  background: #f4f4f4;
}
.item-product-default .product-thumb-link::before {
  background: rgba(0, 0, 0, 0.5);
}
.item-product-style4 .product-thumb-link::before {
  background: rgba(255, 255, 255, 0.1);
}
.product-thumb-link::before {
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";
  transition: all 0.4s ease-out 0s;
  -webkit-transition: all 0.4s ease-out 0s;
}
.product-thumb:hover .product-thumb-link::before {
  opacity: 1;
}
/*Zoom Product*/
.product-thumb:hover .zoom-thumb img {
  transform: scale(1.15);
  -webkit-transform: scale(1.15);
}
/*Zoomout Product*/
.zoomout-thumb img:last-child {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: scale(3);
  -webkit-transform: scale(3);
}
.product-thumb:hover .zoomout-thumb img:last-child {
  transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 1;
}
/*Rotate Product*/
.rotate-thumb img:last-child {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: rotateY(90deg);
  -webkit-transform: rotateY(90deg);
}
.product-thumb:hover .rotate-thumb img:last-child {
  transform: rotateY(0);
  -webkit-transform: rotateY(0);
  opacity: 1;
}
.product-thumb:hover .rotate-thumb img:first-child {
  transform: rotateY(-90deg);
  -webkit-transform: rotateY(-90deg);
  opacity: 0;
}
/*Translate Product*/
.translate-thumb img:last-child {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
}
.product-thumb:hover .translate-thumb img:last-child {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  opacity: 1;
}
.product-thumb:hover .translate-thumb img:first-child {
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  opacity: 0;
}
/*End Product*/



/*Float Product*/
.float-thumb .last-thumb {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  visibility: hidden;
  left: 0;
  bottom: 200px;
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.product-thumb:hover .float-thumb .last-thumb {
  visibility: visible;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  opacity: 1;
  filter: alpha(opacity=100);
  width: 100%;
  bottom: 0;
  max-width: 100%;
}


/*End Product*/
/*Select Box*/
.select-box select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  height: 40px;
  padding: 0 30px 0 15px;
  position: relative;
  z-index: 1;
  background: transparent;
  text-transform: capitalize;
  display: inline-block;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-radius: 0px;
}
.select-box {
  position: relative;
}
.select-box::after {
  position: absolute;
  top: 15px;
  right: 15px;
  content: "\f107";
  font-family: fontAwesome;
}
/*Begin Dropdown Box*/
.dropdown-box {
  position: relative;
  z-index: 1000;
}
.dropdown-link {
  display: inline-block;
  position: relative;
}
.dropdown-list {
  background: #fff;
  opacity: 0;
  right: 0;
  position: absolute;
  visibility: hidden;
  width: 130px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-out 0s;
  -webkit-transition: all 0.4s ease-out 0s;
}
.dropdown-box:hover .dropdown-list {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.language-box .dropdown-list li a span,
.currency-box .dropdown-list li a span {
  margin: 0 5px;
}
.language-box .dropdown-link::after,
.currency-box .dropdown-link::after {
  font-family: fontAwesome;
  content: "\f107";
  margin: 0 5px;
}
/*End Dropdown Box*/
/*Begin Wishlist Popup*/
.wishlist-mask {
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
  display: none;
}
.wishlist-popup {
  background: #fff none repeat scroll 0 0;
  border: 10px solid rgba(0, 0, 0, 0.5);
  bottom: 0;
  height: 200px;
  left: 0;
  margin: auto;
  padding: 20px;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  width: 470px;
  z-index: 9999;
}
.wishlist-button a {
  background: #858785 none repeat scroll 0 0;
  color: #fff;
  display: inline-block;
  padding: 8px 15px;
  margin: 0 3px;
}
.popup-icon {
  font-size: 30px;
}
.wishlist-alert {
  margin: 10px 0 20px;
}
.product-popup-content {
  padding: 15px 0;
}
/*End Wishlist Popup*/
/*Begin Email Popup*/
#mask {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9000;
  background-color: #000;
  display: none;
}
#boxes .window {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  z-index: 9999;
}
.window-popup {
  padding: 10px 10px 40px 10px;
  width: 800px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  position: relative;
  background: #fff;
}
.window-popup .close-popup {
  background: #fff none repeat scroll 0 0;
  display: block;
  height: 30px;
  line-height: 30px;
  position: absolute;
  right: -15px;
  text-align: center;
  top: -15px;
  width: 30px;
  z-index: 999;
  border-radius: 50%;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}
.content-popup-form {
  padding: 0 20px;
}
.content-popup-form .desc {
  margin-right: -10px;
}
.content-popup {
  position: relative;
  z-index: 99;
}
.content-popup input[type="text"] {
  width: 260px;
}
.content-popup .image-popup {
  margin: 0 0 15px;
  display: block;
  width: 100%;
}
.content-popup .title18 {
  margin-bottom: 22px;
}
/*End Email Popup*/
/*Begin Mini Cart*/
.mini-cart-box {
  position: relative;
  z-index: 1002;
  margin-right: 1.5rem;
}
.mini-cart-link {
  position: relative;
}
.mini-cart-link .mini-cart-number {
  position: absolute;
  top: -10px;
  right: -10px;
}
.list-mini-cart-item {
  margin-top: 15px;
}
.product-mini-cart.table-custom {
  margin-bottom: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.product-mini-cart.table-custom:last-child {
  margin-bottom: 0px;
}
.product-mini-cart .product-thumb {
  width: 100px;
}
.product-mini-cart .product-thumb img {
    width: 100%;
}
.mini-cart-box .dropdown-list {
  padding: 60px 20px 200px;
}
.product-mini-cart .product-info {
  padding: 0 15px;
}
.mini-cart-button {
  margin: 20px 0px 0;
}
.mini-cart-button .shop-button {
  margin: 0 3px;
}
.mini-cart-qty label {
  font-weight: 400;
  margin: 0;
}
.product-mini-cart.table .product-delete {
  width: 20px;
}
/*End Mini Cart*/
/*Begin Count Down Master*/
.countdown-master .flip-clock-divider .flip-clock-label {
  display: none;
}
.countdown-master {
  display: inline-block;
  margin: 0;
  width: auto;
  vertical-align: middle;
}
.countdown-master.flip-clock-wrapper ul {
  background: transparent;
  float: left;
  margin: 0 -4px;
  width: 30px;
  height: 30px;
  border-radius: 0px;
}
.countdown-master.flip-clock-wrapper .flip {
  box-shadow: none;
}
.countdown-master.flip-clock-wrapper ul li {
  line-height: 30px;
  width: 30px;
}
.countdown-master.flip-clock-wrapper ul li a div div.inn {
  font-size: 18px;
  color: #fff600;
  background: #333333 url("../images/icon/bg-time.png") repeat-x scroll center center;
  border-radius: 0px;
}
.countdown-master.flip-clock-wrapper ul li a div.down {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.countdown-master .flip-clock-divider {
  height: 30px;
  width: 10px;
}
.countdown-master .flip-clock-dot {
  background: #333 none repeat scroll 0 0;
  box-shadow: none;
  height: 2px;
  left: 0px;
  width: 2px;
}
.countdown-master .flip-clock-dot.top {
  top: 10px;
}
.countdown-master .flip-clock-dot.bottom {
  bottom: 10px;
}
.hidden-canvas canvas {
  display: none;
}
/*End Count Down Master*/
/*Begin Preload*/
.wrap-item {
  position: relative;
}
.item-banner {
  position: relative;
}
/*End Preload*/
/*Begin Parallax*/
.parallax {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
  min-height: 200px;
}
/*End Parallax*/
/*Begin Animated Background*/
@keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0 0;
  }
}
.animate-background {
  background-position: 0px 0px;
  background-repeat: no-repeat;
  animation: animatedBackground 40s linear infinite;
  -moz-animation: animatedBackground 40s linear infinite;
  -webkit-animation: animatedBackground 40s linear infinite;
}
@keyframes hozAnimatedBackground {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.hoz-animate-background {
  background-position: 0px 0px;
  background-repeat: no-repeat;
  animation: hozAnimatedBackground 40s linear infinite;
  -moz-animation: hozAnimatedBackground 40s linear infinite;
  -webkit-animation: hozAnimatedBackground 40s linear infinite;
  background-size: auto 100%;
}
/*End Animated Background*/
/*Begin Banner Background*/
.banner-background {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: auto 100%;
  position: relative;
  min-height: 200px;
}
/*End Banner Background*/
/*Begin Toggle*/
.item-toggle-tab .toggle-tab-content {
  display: none;
}
.toggle-tab-title {
  position: relative;
  cursor: pointer;
}
/*End Toggle*/
/*Begin Preload*/
.preload #loading {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999999;
  margin-top: 0px;
  top: 0px;
}
.preload #loading-center {
  width: 100%;
  height: 100%;
  position: relative;
}
.preload #loading-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 200px;
  width: 200px;
  margin-top: -100px;
  margin-left: -100px;
  -ms-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.preload .object {
  -moz-border-radius: 50% 50% 50% 50%;
  -webkit-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%;
  position: absolute;
  border-top: 5px solid #FFF;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #FFF;
  border-right: 5px solid transparent;
  -webkit-animation: animate 2s infinite;
  animation: animate 2s infinite;
}
.preload #object_one {
  left: 75px;
  top: 75px;
  width: 50px;
  height: 50px;
}
.preload #object_two {
  left: 65px;
  top: 65px;
  width: 70px;
  height: 70px;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.preload #object_three {
  left: 55px;
  top: 55px;
  width: 90px;
  height: 90px;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.preload #object_four {
  left: 45px;
  top: 45px;
  width: 110px;
  height: 110px;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
@-webkit-keyframes animate {
  50% {
    -ms-transform: rotate(360deg) scale(0.8);
    -webkit-transform: rotate(360deg) scale(0.8);
    transform: rotate(360deg) scale(0.8);
  }
}
@keyframes animate {
  50% {
    -ms-transform: rotate(360deg) scale(0.8);
    -webkit-transform: rotate(360deg) scale(0.8);
    transform: rotate(360deg) scale(0.8);
  }
}
/*Style*/
/*******************************************************************************************************
                      Blog
********************************************************************************************************/
.header-default{
  padding: 30px 0;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}
.header-top-default {
  padding: 10px 0;
}
.header-nav-default {
  background: #fff;
}
.footer-default {
  padding: 30px 0;
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.1);
}
.content-page {
  margin: 65px 0 150px;
}
.mega-list-cat ul li {
}
.mega-list-cat ul li a {
  display: block;
  padding: 12px 0;
  text-transform: uppercase;
}
.mega-list-cat ul {
  margin-top: 15px;
}
.bread-crumb{
  color: #555;
}
.bread-crumb a {
  color: #555;
  display: inline-block;
}
.bread-crumb a:hover{
  color: #dc9814;
}
.sidebar {
    padding-right: 2rem;
}
.sidebar .widget:fisrt-child .widget-title { padding-top: 0px; }

.widget-title {
  padding: 10px 0;
  margin-bottom: 32px;
}
.wg-list-categories ul {
  padding-left: 15px;
}
.wg-list-categories li a {
  display: block;
  padding: 10px 0;
  border-bottom: 1px solid #e5e5e5;
}
.wg-list-categories li {
  position: relative;
}
.wg-list-categories li:last-child a {
  border-bottom: none;
}
.wg-list-categories li .count {
  position: absolute;
  right: 0;
  top: 9px;
  color: #fff;
  width: 20px;
  height: 20px;
  background: #999;
  border-radius: 50%;
  text-align: center;
  font-size: 10px;
  line-height: 20px;
}
.widget {
  margin-bottom: 54px;
}
.widget:last-child {
  margin-bottom: 0;
}
.widget-tags li a {
  padding: 6px 15px;
  border: 1px solid #e5e5e5;
  display: block;
  border-radius: 0px;
}
.wg-list-tags li {
  display: inline-block;
  margin-bottom: 5px;
}
.wg-list-tags ul {
  padding-left: 15px;
}
.wg-list-categories {
  margin-top: -20px;
}
.wg-list-categories li.has-children {
  border-bottom: 1px solid #e5e5e5;
}
.wg-search-form {
  position: relative;
}
.wg-search-form input[type="text"] {
  border: 1px solid #e5e5e5;
  height: 40px;
  padding: 0 15px;
  display: block;
  width: 100%;
  border-radius: 0px;
}
.wg-search-form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 40px;
  background: transparent;
  border: none;
  z-index: 1;
}
.wg-search-form::after {
  position: absolute;
  top: 12px;
  right: 15px;
  font-family: fontAwesome;
  content: "\f002";
  color: #999;
}
.view-type span {
  padding: 0 7px;
}
.view-type a {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  width: 20px;
  border-radius: 0px;
  text-align: center;
  color: #999;
  font-size: 20px;
}
.view-type a.active {
}
.view-type a.grid-view {
}
.view-type a.list-view {
}
.title-page h2 {
  margin-bottom: 45px;
}
.show-by .dropdown-link .gray {
  position: relative;
  height: 40px;
  display: inline-block;
  min-width: 50px;
  line-height: 40px;
  padding: 0 7px;
}
.sort-pagi-bar > li {
  margin: 0 15px;
}
.sort-pagi-bar {}
.show-by > .dropdown-link > span.gray,
.view-type > span.gray {
  margin: 0 15px 0 0;
  display: inline-block;
}
.show-by .dropdown-list {
  left: auto;
  right: 0;
  width: 70px;
}
.dropdown-list li a {
  color: #555;
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0px 15px;
  border-bottom: 1px solid #fff;
}
.dropdown-list li a:hover {
  /* color: #fff; */
}
.dropdown-list li:last-child a {
  border-bottom: none;
}
.show-by .dropdown-link .gray::after {
  font-family: LineAwesome;
  content: "\f30c";
  position: absolute;
  right: 10px;
  top: 1px;
}
.blog-grid-view .item-post {
  margin-bottom: 44px;
}
.single-post-date {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  background: #ccc;
  color: #fff;
  text-align: center;
  font-size: 12px;
  z-index: 10;
}
.single-post-date strong {
  font-size: 18px;
  display: block;
  font-weight: 400;
  background: #333;
  padding: 9px 10px;
}
.single-post-date span {
  padding: 7px 10px;
  display: block;
}
.item-post .post-thumb {
  margin-bottom: 18px;
}
.item-post .post-info {
  padding-bottom: 10px;
}
.item-post .post-info .post-title {
  margin-bottom: 16px;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  line-height: 30px;
}
.item-post-style2 .post-info .post-title{
  margin-bottom: 16px;
}
.item-post-style2 .post-meta{
  margin-bottom: 10px;
}
.item-post.item-post-style3 .post-info .post-title{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.item-post .post-info .desc {
  margin-bottom: 22px;
}
.item-post .post-info .readmore {
  display: inline-block;
  height: 40px;
  line-height: 38px;
  padding: 0 20px;
  border: 1px solid #e5e5e5;
  border-radius: 0px;
}
.has_sidebar .pagi-nav {
  text-align: center !important;
}
.pagi-nav {
  margin-top: 20px;
  margin-bottom: -4px;
}
.pagi-nav a {
  display: inline-block;
  margin-bottom: 4px;
  color: #000;
  height: 40px;
  line-height: 40px;
  min-width: 40px;
  text-align: center;
  border-radius: 0px;
  background: #e5e5e5;
}
.pagi-nav a.current {
  background-color: #000;
  color: #fff;
}
.pagi-nav a.next,
.pagi-nav a.prev {
  padding: 0 20px;
}
.pagi-nav a:hover{
  color: #dc9814;
}
.blog-list-view .item-post-list {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.blog-list-view .col-md-12:last-child .item-post-list {
  border-bottom: none;
  padding-bottom: 0;
}
.post-meta-data > li {
  margin: 0 10px 10px 0;
  border-right: 1px solid #e5e5e5;
  padding-right: 14px;
}
.post-meta-data > li:last-child {
  border: none;
}
.post-meta-data {
  margin-bottom: 17px;
}
.post-meta-data i.fa {
  margin-right: 10px;
}
.post-meta-data li a {
  margin-right: 10px;
}
.post-meta-data li a:last-child {
  margin-right: 0;
}
.blog-list-view .item-post-large {
  margin-bottom: 30px;
}
.item-post-large .post-thumb {
  margin-bottom: 17px;
}
.post-meta-data label {
  font-weight: 400;
  margin: 0;
}
.single-post-thumb {
  margin-bottom: 43px;
}
.content-post-default > .desc {
  margin-bottom: 30px;
}
.content-post-default h2.title24 {
  margin-bottom: 25px;
}
.content-post-default .row {
  margin-bottom: 30px;
}
.block-quote {
  background: #f9f9f9;
  padding: 30px 40px;
  margin-bottom: 30px;
}
.block-quote h3.title14 {
  position: relative;
  margin-top: 36px;
}
.block-quote h3.title14::before {
  position: absolute;
  width: 100px;
  height: 1px;
  content: "";
  background: #333;
  top: -20px;
  left: 0;
}
.block-quote .desc {
  font-style: italic;
}
.single-intro-travel h2 {
  margin-bottom: 22px;
}
.content-post-default > h3 {
  margin-bottom: 20px;
}
.single-list-link li {
  margin-bottom: 20px;
  list-style: circle;
  margin-left: 15px;
}
.single-list-link {
  margin-bottom: 40px;
}
.single-list-adv .banner-advs {
  margin-bottom: 22px;
}
.single-list-social {
  margin-bottom: 50px;
}
.single-info-author {
  border-top: 1px solid #e5e5e5;
  padding-top: 40px;
  margin-bottom: 40px;
}
.single-info-author .author-info {
  position: relative;
  padding-top: 15px;
}
.single-info-author .author-info > h3 {
  margin: 12px 0 8px;
}
.single-info-author .author-social {
  position: absolute;
  right: 0;
  top: 34px;
  margin: 10px -12px 0;
}
.single-info-author .author-social a {
  margin: 0 12px;
}
.post-control {
  padding: 25px 0;
  border-top: 1px solid #e5e5e5;
  border-bottom: 3px solid #e5e5e5;
  position: relative;
  margin-bottom: 30px;
}
.post-control::after {
  position: absolute;
  left: 50%;
  height: 100%;
  width: 1px;
  content: "";
  background: #e5e5e5;
  top: 0;
}
.post-control i.fa {
  font-size: 18px;
  vertical-align: middle;
}
.post-control span {
  display: inline-block;
  vertical-align: middle;
  margin: 0 11px;
}
.title-single-related-post {
  margin-bottom: 26px;
  position: relative;
}
.title-single-related-post a {
  position: absolute;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 400;
  top: 0;
  right: 0;
}
.related-post-slider {
  margin: 0 -15px;
}
.related-post-slider .item-post {
  margin: 0 15px;
}
.related-post-slider .item-post .post-info a.more{
  margin-left: -6px;
}
.single-related-post {
  margin-bottom: 59px;
}
.blog-comment-detail > h2.title18 {
  margin-bottom: 25px;
}
.single-info-author .author-thumb {
  width: 100px;
}
.single-info-author .author-info {
  padding-left: 20px;
  position: relative;
}
.item-comment .comment-thumb {
  width: 70px;
}
.item-comment .comment-info {
  padding-left: 20px;
  position: relative;
}
.item-comment .comment-info .author-name {
  text-transform: capitalize;
}
.item-comment .comment-info span.say {
  text-transform: capitalize;
  margin: 0 5px;
}
.item-comment .comment-info .desc {
  margin: 18px 0 19px
}
.item-comment .comment-info .desc p{
  margin: 0;
}
.item-comment .comment-info .date {
  position: absolute;
  top: 0;
  right: 0;
}
.item-comment .comment-info .reply-button {
  text-transform: uppercase;
  color: #dc9814;
}
.comment-list li:last-child .item-comment {
  border: none;
  margin-bottom: 0;
}
.blog-comment-detail {
  margin-bottom: 67px;
}
.reply-comment > h2 {
  margin-bottom: 17px;
}
.reply-comment > .desc {
  margin-bottom: 40px;
}
.contact-form input[type="text"] {
  height: 40px;
  display: block;
  width: 100%;
  padding: 0 15px 0 40px;
}
.contact-form textarea {
  display: block;
  width: 100%;
  padding: 10px 15px 10px 40px;
}
.reply-comment .desc {
  margin: 13px 0 43px;
}
.contact-form input[type="submit"] {
  padding: 0 30px;
}
.contact-form p {
  position: relative;
}
.contact-form p::before {
  display: none;
  position: absolute;
  top: 13px;
  left: 15px;
  color: #999;
  font-family: fontAwesome;
}
.contact-form p.contact-name::before {
  content: "\f007";
}
.contact-form p.contact-email::before {
  content: "\f0e0";
}
.contact-form p.contact-message::before {
  content: "\f044";
}
.shop-button {
  border: none;
  height: 40px;
  color: #fff;
  line-height: 40px;
  background: #333;
  border-radius: 0px;
  display: inline-block;
  padding: 0 20px;
  text-align: center;
}
.sort-by .select-box select {
  height: 36px;
}
.sort-by .select-box::after {
  font-family: "Font Awesome 5 Pro";
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #555;
  z-index: 1;
}
.sort-by > span {
  line-height: 36px;
}
.product-thumb .product-label {
  position: absolute;
  top: 20px;
  right: 20px;
  left: 20px;
  margin: -2.5px -5px;
}
.product-thumb .product-label span {
  margin: 2.5px 5px;
  display: inline-block;
  height: 26px;
  width: 50px;
  line-height: 28px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
}
.product-label span.sale {
  background: #f57107;
  float: right;
}
.product-label span.new {
  background: #000;
  float: left;
}
.product-label span.featured {
  background: #80b60c;
  display: inline-block;
  vertical-align: top;
  width: auto;
  padding: 0 13px;
  top: 30px;
}
.product-label span.trend {
  background: #dc9814;
  display: inline-block;
  vertical-align: top;
  width: auto;
  padding: 0 13px;
}
.product-thumb > .quickview-link {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  line-height: 40px;
  text-align: center;
  z-index: 10;
  background: #fff;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
}
.product-thumb:hover > .quickview-link {
  opacity: 1;
  visibility: visible;
}
.wrap-rating .rate-number {
  font-size: 10px;
}
.wrap-rating .product-rate {
  margin: 0;
}
.wrap-rating .number-rate{
  display: none;
}
.wrap-rating > li {
  vertical-align: middle;
}
.product-grid-view .item-product {
  margin-bottom: 0;
}
.product-extra-link .addcart-link {
  display: inline-block;
  height: 40px;
  line-height: 38px;
  border: 1px solid #e5e5e5;
  padding: 0 20px;
  border-radius: 0px;
  text-align: center;
}
.product-extra-link .addcart-link:hover {
  background: #999;
  border-color: #999;
  color: #fff;
}
.woocommerce-review-link{
  display: inline-block;
  vertical-align: middle;
}
.wrap-rating {
  display: inline-block;
  margin-bottom: 19px !important;
}
.detail-info .wrap-rating {
  margin-bottom: 16px !important;
}
.item-product.product-stock .product-thumb-link::before {
  opacity: 1;
}
.product-list-view .item-product {
  margin-bottom: 50px;
}
.item-product-list .product-info {
  padding-top: 0;
}
.item-product-list .product-title a{
  color: #000;
}
.item-product-list .product-title a:hover{
  color: #dc9814;
}
.item-product-list .product-desc {
  margin-bottom: 16px;
}
.detail-gallery .carousel li img {
}
.detail-gallery .carousel li {
  margin: 0 5px;
}
.detail-gallery .gallery-control {
  text-align: center;
  position: relative;
  margin-top: 10px;
}
.detail-gallery .gallery-control .carousel {
  margin: auto;
}
.detail-gallery .gallery-control > a {
  position: absolute;
  top: 50%;
  margin-top: -7px;
}
.detail-gallery .gallery-control > a.next {
  right: 0px;
}
.detail-gallery .gallery-control > a.prev {
  left: 0px;
}
.detail-attr {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: -o-flex;
  align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  margin-bottom: 30px;
}
.detail-attr label {
  width: 70px;
  margin: 0;
}
.detail-attr > .select-box {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  -o-flex-grow: 1;
}
.detail-qty {
  border-radius: 0px;
  height: 60px;
  width: 120px;
  position: relative;
  margin-right: 10px;
}
.detail-qty .qty-val {
  line-height: 58px;
  padding: 0 30px;
}
.detail-qty a {
  position: absolute;
  width: 30px;
  height: 25px;
  line-height: 25px;
  display: block;
  text-align: left;
  right: 0;
  font-size: 15px;
}
.detail-qty a.qty-up {
  top: 7px;
}
.detail-qty a.qty-down {
  bottom: 7px;
}
.detail-attr .addcart-link {
  margin-left: 10px;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  -o-flex-grow: 1;
  text-align: center;
}
.detail-info .product-desc {
  margin-bottom: 30px;
  color: #333;
  line-height: 24px;
}
.detail-attr.qty-cart {
  margin-bottom: 30px;
}
.detail-extra-link a {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  border: 1px solid #e5e5e5;
  border-radius: 0px;
}
.detail-extra-link a .fa {
  font-size: 12px;
  color: #999;
  margin-right: 10px;
}
.detail-extra-link {
  margin-bottom: 25px;
}
.item-product-meta-info label {
  min-width: 105px;
  font-weight: 400;
}
.product-meta-info > li {
  margin-bottom: 5px;
}
.item-product-meta-info span,
.item-product-meta-info a {
  display: inline-block;
  padding: 0px 3px;
  border-radius: 0px;
  color: #999;
}
.item-product-meta-info a:hover{
  color: #dc9814;
}
.product-detail {
  margin-bottom: 50px;
}
.product-intro-wrapper {
    position: relative;
    padding-top: 2rem;
    border-top: 1px solid #ccc;
    margin-bottom: 2rem;
}
.banner-footer-item {
    padding: 1rem;
    border-left: 5px solid #f1af51 !important;
}

.banner-footer-item i {
    width: 70px;
    font-size: 30px;
    text-align: center;
    border: 1px solid;
    height: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin-right: 1rem;
}

.banner-footer-item-info p {
    margin-bottom: 10px;
    color: #777;
}
.woocommerce div.product div.images{
  margin-bottom: 0;
}
.detail-info {
  position: relative;
}
.detail-info .product-control {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0 2px;
}
.detail-info .product-control a {
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 34px;
  text-align: center;
  border: 1px solid #e5e5e5;
  margin: 0 -2px;
  color: #555;
}
.detail-info .product-control a:hover {
  background: #f9f9f9;
}
.detail-info .product-control a.prev {
  border-radius: 4px 0 0 4px;
}
.detail-info .product-control a.next {
  border-radius: 0 4px 4px 0;
}
.detail-info .list-brand{
  position: absolute;
  top: 0;
  right: 0;
}
.detail-info .list-brand ul{
  margin: 0 -2.5px;
}
.detail-info .list-brand ul li a{
  border: 1px solid #e5e5e5;
  margin: 0 2.5px;
  display: none;
}
.detail-info .list-brand ul li:first-child a{
  display: block;
}
.detail-info .list-brand ul li a:hover{
  border-color: #dc9814;
}
.detail-tabs {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: -o-flex;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.detail-tab-title {
  min-width: 200px;
  border-right: 1px solid #e5e5e5;
}
.detail-tab-content {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  -o-flex-grow: 1;
  margin-left: 30px;
  padding: 50px 0;
}
.detail-tab-title .list-tag-detail li{
  float: initial;
}
.detail-tab-title .list-tag-detail li a:hover,
.detail-tab-title .list-tag-detail li a {
  display: block;
  position: relative;
  padding: 15px 25px;
  line-height: 20px;
  height: auto;
  border: 1px solid #e5e5e5;
  border-right: none;
  transition: none;
  border-radius: 0px;
}
.detail-tab-title .list-tag-detail li:first-child a{
  border-top: none;
}
.detail-tab-title .list-tag-detail li.active a::before {
  position: absolute;
  top: 0px;
  left: 0;
  width: 2px;
  content: "";
  bottom: 0px;
  background: #dc9814;
}
.detail-tab-title .list-tag-detail li.active a {
  border-color: #e5e5e5 !important;
  color: #000;
}
.list-tag-detail li.active a::after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -1px;
  width: 1px;
  background: #fff;
  content: "";
}
.detail-tab-desc .desc {
  margin-bottom: 30px;
}
.detail-tab-desc ul li {
  margin-bottom: 20px;
}
/*Begin Review*/
.detail-tab-review .title14 {
  margin: 0 0 18px;
  text-transform: inherit;
  font-size: 18px;
}
.list-none.list-tags-review li {
  display: table;
  margin-bottom: 20px;
  width: 100%;
}
.list-none.list-tags-review li > .review-author {
  width: 100px;
}
.list-none.list-tags-review li > div {
  display: table-cell;
  vertical-align: top;
}
.list-none.list-tags-review li > .review-info {
  border: 1px solid #e5e5e5;
  border-radius: 0px;
  padding: 20px;
  position: relative;
}
.list-none.list-tags-review li > .review-author a {
  border-radius: 50%;
  display: block;
  overflow: hidden;
  width: 70px;
}
.list-none.list-tags-review li > .review-author a img {
  border-radius: 50%;
}
.review-header {
  color: #999;
}
.review-info .product-rate {
  position: absolute;
  right: 20px;
  top: 25px;
}
.review-form {
  margin-top: 23px;
}
.review-form > div {
  margin-bottom: 10px;
  min-height: 40px;
  padding-left: 105px;
  position: relative;
}
.review-form > div > label {
  font-weight: 400;
  height: 40px;
  left: 0;
  line-height: 40px;
  position: absolute;
  top: 0;
}
.review-form > div > input[type="text"] {
  border: 1px solid #e5e5e5;
  border-radius: 0px;
  height: 40px;
  max-width: 400px;
  padding: 0 15px;
  width: 100%;
}
.review-form > div > .product-rate {
  transform: translateY(15px);
  -webkit-transform: translateY(15px);
}
.review-form > div > textarea {
  border: 1px solid #e5e5e5;
  border-radius: 0px;
  max-height: 120px;
  padding: 10px 15px;
  width: 100%;
}
.review-form > div > input[type="submit"] {
  margin-top: 10px;
}
/*End Review*/
.detail-tab-video iframe {
  border: none;
}
.shop-button:hover {
  color: #fff;
}
.item-product-group .product-thumb {
  width: 90px;
}
.item-product-group .product-info {
  padding: 0 20px;
}
.wrap-detail-qty {
  text-align: right;
}
.wrap-detail-qty .detail-qty {
  text-align: left;
  display: inline-block;
}
.list-product-group > li {
  margin-bottom: 10px;
}
.list-product-group {
  margin-bottom: 30px;
}
.detail-group .detail-attr .addcart-link {
  margin: 0;
  flex-grow: inherit;
  padding: 0 30px;
}
.block-product-tab .title-block-tab {
  margin-bottom: 30px;
}
.title-list-tab > li > a {
  display: block;
  padding: 10px 20px;
  border: 1px solid #e5e5e5;
  border-radius: 0px;
  font-weight: 700;
  position: relative;
}
.title-list-tab {
  margin-bottom: 50px;
}
.title-list-tab > li.active > a {
  background: #f9f9f9;
}
.block-product-tab {
  margin-bottom: 50px;
}
.block-product-tab > h3 {
  margin-bottom: 20px;
}
.block-product-tab > .desc {
  max-width: 670px;
  margin: auto auto 30px;
}
.shop-button.btn-loadmore {
  min-width: 270px;
  text-transform: uppercase;
}
.block-product-tab.title-tab-inline .title-block-tab {
  margin: 6px 30px 0 0;
}
.block-product-list {
  margin-bottom: 50px;
}
.product-tab-vertical {
  position: relative;
  padding-left: 300px;
  margin-top: 25px;
}
.product-tab-vertical .title-list-tab {
  position: absolute;
  width: 270px;
  left: 0;
  top: 0;
  border-right: 1px solid #e5e5e5;
  bottom: -20px;
  border-top: 1px solid #e5e5e5;
}
.product-tab-vertical .title-list-tab li a {
  border-radius: 0;
  border-width: 0 0 1px 0;
  background: transparent;
}
.product-tab-vertical .title-list-tab li.active a::before {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: 0;
  width: 2px;
  content: "";
  background: #333;
}
.product-tab-vertical .title-list-tab li.active a {
  color: #333;
}
.product-tab-vertical .title-list-tab li.active a::after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -1px;
  content: "";
  background: #fff;
  width: 1px;
}
.block-product-tab:not(.product-tab-vertical) .group-navi .owl-buttons {
  top: -69px;
}
.product-small-slider .item-product {
  margin: 0 10px;
}
.product-small-slider {
  margin: 23px -10px 0;
}
.product-small-slider .group-navi .owl-buttons {
  right: 10px;
}
.item-product-small .product-title {
  white-space: inherit;
}
.item-product-small .product-extra-link .addcart-link {
  display: block;
  text-transform: uppercase;
}
.title-elements {
  margin-bottom: 30px;
}
.block-element > h3.title18 {
  margin-bottom: 20px;
}
.block-element > h3.title24{
  margin-bottom: 46px;
}
.block-element {
  margin-bottom: 50px;
}
.follow-instagram a {
  display: block;
  overflow: hidden;
  position: relative;
}
.instagram-text-follow {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: -o-flex;
  align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
  justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  transition: all 0.4s ease-out 0s;
  -webkit-transition: all 0.4s ease-out 0s;
  opacity: 0;
}
.follow-instagram a:hover .instagram-text-follow {
  opacity: 1;
}
.instagram-text-follow i {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #dc9814;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  -webkit-transform: translate(0px, -40px);
  -ms-transform: translate(0px, -40px);
  -o-transform: translate(0px, -40px);
  transform: translate(0px, -40px);
  transition: all 0.4s ease-out 0s;
  -webkit-transition: all 0.4s ease-out 0s;
}
.follow-instagram a:hover .instagram-text-follow i{
  opacity: 1;
  -webkit-transform: translate(0,0);
  -ms-transform: translate(0,0);
  -o-transform: translate(0,0);
  transform: translate(0,0);
}

.search-form {
  max-width: 768px;
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: -o-flex;
  position: relative;
  border: 1px solid #e5e5e5;
  border-radius: 0px;
}
.search-form .dropdown-box {
  width: 170px;
  border-right: 1px solid #e5e5e5;
}
.search-form input[type="text"] {
  height: 40px;
  display: block;
  border: none;
  flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    -o-flex-grow: 1;
  padding: 0 20px;
  background: transparent;
}
.search-form .dropdown-link {
  padding: 12px 15px;
  display: block;
}
.submit-form {
  position: relative;
  width: 50px;
  border-radius: 0px;
  overflow: hidden;
  margin: -1px;
}
.submit-form input[type="submit"] {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";
  background: transparent;
  display: block;
  width: 100%;
  z-index: 1;
  cursor: pointer;
}
.submit-form::after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";
  text-align: center;
  color: #fff;
  font-family: fontAwesome;
  content: "\f002";
  line-height: 50px;
  border-radius: 0px;
}
.search-form .dropdown-list {
  width: 100%;
}
.search-form .dropdown-link::after {
  content: "\f107";
  font-family: fontAwesome;
  position: absolute;
  right: 15px;
  top: 14px;
}
.form-newsletter .submit-form::after {
  content: "\f0e0";
}
.form-newsletter {
  max-width: 300px;
}
.mini-cart-box.aside-box .mini-cart-content {
  transform: translateX(500px);
  -webkit-transform: translateX(500px);
  position: fixed;
  top: 0;
  right: -480px;
  z-index: 10001;
  background: #fff;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  width: 480px;
  bottom: 0;
  transition: all 0.4s ease-out 0s;
  -webkit-transition: all 0.4s ease-out 0s;
  opacity: 0;
  visibility: hidden;
}
.mini-cart-box.aside-box .mini-cart-content.active {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  right: 0;
  opacity: 1;
  visibility: visible;
}
.mini-cart-box.aside-box .mini-cart-content > h2 {
  display: none;
}
.mini-cart-box.aside-box .list-mini-cart-item {
  margin: 0;
  overflow: auto;
  position: relative;
  max-height: 600px;
}
.mini-cart-box.aside-box .product-mini-cart.table-custom {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border: none;
}
.mini-cart-box.aside-box .product-mini-cart.table-custom > div {
  vertical-align: middle;
}
.mini-cart-box.aside-box .mini-cart-button a {
  display: block;
  border-radius: 0;
  text-transform: uppercase;
}
.mini-cart-box.aside-box .mini-cart-button a.mini-cart-view {
  background: #666;
}
.mini-cart-box.aside-box .mini-cart-button {
  position: relative;
}
.mini-cart-box.aside-box .mini-cart-total {
  position: relative;
  z-index: 1;
  margin-top: 2rem;
  padding-top: 25px;
  border-top: 3px solid #000;
  font-size: 16px;
  font-weight: 600;
}
.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.mini-cart-total-price {
    line-height: 22px;
    font-weight: 600;
    font-size: 16px;
}
.mini-cart-box.aside-box .product-mini-cart.table-custom .product-delete {
  padding-top: 10px;
}
.overlay .wrap::after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
.detail-info .countdown-master {
  margin: 0 -5px 30px;
}
.mini-cart-box.dropdown-box .list-mini-cart-item {
  max-height: 300px;
  padding-right: 5px;
  margin-right: -5px;
  position: relative;
  /*overflow-y: scroll;*/
  overflow-x: hidden;
  margin-bottom: 15px;
}
.mini-cart-box ::-webkit-scrollbar {
  width: 4px;
}
.mini-cart-box ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 0px;
}
.mini-cart-box ::-webkit-scrollbar-thumb {
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}
.detail-countdown {
  margin-bottom: 20px;
}
.detail-countdown .time_circles > div {
  display: inline-block;
  left: 0!important;
  top: 0!important;
  width: auto!important;
}
.detail-countdown .time_circles > div::after {
  content: ":";
  margin: 0 5px;
}
.detail-countdown .time_circles > div:last-child::after {
  display: none;
}
.color {
    color: #f1af51;
}
/*******************************************************************************************************************
                        Pages 
********************************************************************************************************************/
.contact-get-intouch {
  background: #f4f4f4;
  padding: 43px 0;
}
.item-contact-page .contact-thumb {
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 30px;
  border-radius: 50%;
  color: #fff;
  position: relative;
  margin-bottom: 23px;
}
.item-contact-page .contact-thumb .icon {
  position: relative;
  z-index: 1;
}
.item-contact-page .contact-thumb::before {
  transition: all 0.4s ease-out 0s;
  -webkit-transition: all 0.4s ease-out 0s;
  border-radius: 50%;
}
.item-contact-page .contact-thumb:hover::before {
  opacity: 0;
  top: -15px;
  bottom: -15px;
  left: -15px;
  right: -15px;
}
.item-contact-page h3 {
  margin-bottom: 17px;
}
.item-contact-page .list-none li {
  margin-bottom: 5px;
}
.list-contact-item .item-contact-page {
  margin-bottom: 42px;
}
.contact-form-page {
  border-top: 1px solid #e5e5e5;
  padding-top: 43px;
}
.contact-form-page h3 {
  margin-bottom: 47px;
}
.contact-form-page .wrap-input {
  position: relative;
}
.contact-form-page .wrap-input .icon {
  position: absolute;
  top: 15px;
  left: 20px;
  color: #999;
}
.contact-form-page .wrap-input input[type="text"],
.contact-form-page .wrap-input input[type="email"],
.contact-form-page .wrap-input input[type="tel"] {
  border: 1px solid #e5e5e5;
  height: 50px;
  border-radius: 25px;
  display: block;
  width: 100%;
  background: #fff;
  padding: 0 45px;
}
.contact-form-page .wrap-input textarea {
  border: 1px solid #e5e5e5;
  padding: 13px 45px;
  height: 170px;
  border-radius: 25px;
  resize: none;
  display: block;
  width: 100%;
}
.contact-form-page input[type="submit"] {
  height: 50px;
  color: #fff;
  border: none;
  padding: 0 35px;
  border-radius: 25px;
  margin-top: 10px;
  transition: all 0.4s ease-out 0s;
  -webkit-transition: all 0.4s ease-out 0s;
}
.about-content-page {
  position: relative;
  padding: 40px 0;
}
.about-intro-page {
  padding-left: 40px;
}
.about-content-page::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -30px;
  width: 1px;
  content: "";
  background: #e5e5e5;
  z-index: 1;
}
.about-title-page {
  border-bottom: 2px solid #e5e5e5;
  padding-bottom: 25px;
  margin-bottom: 20px;
}
.about-sidebar {
  padding-top: 50px;
  position: relative;
  z-index: 2;
}
.about-sidebar > h2.title18 {
  border-bottom: 2px solid #e5e5e5;
  padding-bottom: 28px;
}
.list-about-page > li > a {
  display: block;
  height: 40px;
  line-height: 40px;
  position: relative;
  border-bottom: 1px solid #e5e5e5;
}
.list-about-page > li:last-child:not(.current) > a {
  border-bottom: none;
}
.list-about-page > li.current > a::after {
  content: "";
  width: 28px;
  height: 28px;
  border-width: 1px 1px 0 0;
  border-style: solid;
  position: absolute;
  right: -15px;
  top: 5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  background: #fff;
}
.about-intro-top .desc {
  font-style: italic;
  line-height: 1.6;
  margin-top: 20px;
  margin-bottom: 80px;
}
.about-intro-top h3 {
  position: relative;
}
.about-intro-top h3::before {
  position: absolute;
  width: 100px;
  left: 0;
  top: -30px;
  content: "";
  height: 1px;
}
.about-intro-top {
  margin-bottom: 40px;
}
.about-intro-page > p.desc {
  margin-bottom: 35px;
}
.about-content-page > h3 {
  margin-bottom: 17px;
}
.about-intro-top .banner-advs {
  margin-left: -140px;
}
.about-customer {
  padding-left: 40px;
  margin: 30px 0;
}
.about-customer li {
  position: relative;
  padding-left: 50px;
  margin-bottom: 13px;
}
.about-customer li::before {
  font-family: ionicons;
  content: "\f122";
  position: absolute;
  left: 0;
  top: 5px;
  color: #999;
}
.about-quick-link {
  border-top: 1px solid #e5e5e5;
  padding-top: 35px;
}
.about-quick-link h3 {
  margin-bottom: 20px;
}
.about-quick-link .list-none li a {
  margin-bottom: 5px;
  position: relative;
  padding-left: 22px;
  display: block;
}
.about-quick-link .list-none {
  padding-left: 50px;
}
.about-quick-link .list-none li a::before {
  position: absolute;
  top: 3px;
  left: 0;
  font-family: fontAwesome;
  content: "\f0c1";
}
.about-title-number {
  position: relative;
  padding-left: 50px;
  padding-top: 20px;
  margin-bottom: 42px;
}
.about-title-number .number {
  color: #f4f4f4;
  position: absolute;
  left: 0;
  top: -10px;
  z-index: -1;
}
.about-title-number h3 {
  color: #000;
  padding-left: 70px;
  margin-bottom: 28px;
}
.about-title-number::before {
  position: absolute;
  width: 50px;
  height: 1px;
  content: "";
  top: 30px;
  left: 50px;
}
.item-page-view {
  margin-bottom: 30px;
}
.item-page-view .page-view-thumb {
  position: relative;
  overflow: hidden;
  margin-bottom: 25px;
}
.item-page-view .page-view-thumb::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease-out 0s;
  -webkit-transition: all 0.4s ease-out 0s;
  opacity: 0;
  z-index: 1;
}
.item-page-view .page-view-thumb img {
  width: 100%;
  transition: all 0.4s ease-out 0s;
  -webkit-transition: all 0.4s ease-out 0s;
}
.item-page-view .page-view-thumb:hover img {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}
.item-page-view .page-view-thumb:hover::before {
  opacity: 1;
}
.item-page-view .page-view-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";
  width: 60px;
  height: 60px;
  z-index: 10;
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  border: 1px solid #fff;
  transition: all 0.4s ease-out 0s;
  -webkit-transition: all 0.4s ease-out 0s;
  transform: scale(0) rotate(0);
  -webkit-transform: scale(0) rotate(0);
  margin: auto;
}
.item-page-view .page-view-thumb:hover .page-view-link {
  transform: scale(1) rotate(360deg);
  -webkit-transform: scale(1) rotate(360deg);
}
.item-page-view .page-view-info h3 {
  margin-bottom: 8px;
}
.item-page-view .page-view-info .desc {
  margin-bottom: 22px;
}
.item-page-view .page-view-info .btn-page-view,
.about-title-number .readmore {
  display: inline-block;
  height: 40px;
  line-height: 36px;
  padding: 0 25px;
  border: 2px solid #e5e5e5;
  border-radius: 20px;
}
.list-page-view {
  margin-bottom: 40px;
}
.item-page-view .page-view-info .btn-page-view:hover {
  color: #fff;
}
.about-title-number .readmore {
  margin-top: 22px;
}
.about-title-number .readmore:hover {
  color: #fff;
}
.about-banner-brand {
  margin-bottom: 45px;
}
.about-banner-brand .banner-info {
  height: 30px;
  padding: 0 70px;
}
.item-about-faq {
  padding-left: 20px;
}
.item-about-faq h3 {
  position: relative;
  padding: 15px 0;
}
.item-about-faq h3::before {
  position: absolute;
  top: -10px;
  content: "Q";
  text-transform: uppercase;
  font-size: 60px;
  color: #f4f4f4;
  left: -20px;
  z-index: -1;
}
.item-about-faq .desc {
  position: relative;
  padding: 15px 0;
}
.item-about-faq .desc::before {
  position: absolute;
  top: 15px;
  content: "A";
  text-transform: uppercase;
  font-size: 60px;
  color: #f4f4f4;
  left: -20px;
  z-index: -1;
}
.list-about-faq .item-about-faq {
  margin-bottom: 30px;
}
.about-banner-history .adv-thumb-link {
  transform: translateX(170px);
  -webkit-transform: translateX(170px);
}
.about-banner-history .banner-info {
  width: 270px;
  right: auto;
  background: #fff;
  top: 50px;
  bottom: 50px;
  padding: 30px;
}
.about-banner-history .banner-info .desc {
  position: relative;
  padding-left: 25px;
  margin-bottom: 50px;
}
.about-banner-history {
  margin-bottom: 110px;
}
.about-banner-history .banner-info .desc::before {
  content: "\f347";
  font-family: ionicons;
  position: absolute;
  color: #999;
  left: 0;
  top: 0;
}
.about-banner-history .banner-info h3 {
  position: relative;
}
.about-banner-history .banner-info h3::before {
  position: absolute;
  height: 1px;
  width: 140px;
  content: "";
  top: -25px;
  left: 0;
}
.item-price-table {
  border: 1px solid #e5e5e5;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.price-table-header {
  background: #fafafa;
  padding: 30px;
  border-bottom: 1px solid #e5e5e5;
}
.list-price-support li {
  padding: 8px 30px;
}
.list-price-support li .fa {
  display: inline-block;
  width: 25px;
}
.list-price-support {
  padding: 25px 0;
}
.item-price-table .btn-purchase {
  display: inline-block;
  height: 40px;
  line-height: 36px;
  padding: 0 25px;
  border-radius: 20px;
}
.item-price-table h3 {
  margin-bottom: 10px;
}
.item-price-table .start {
  margin-bottom: 2px;
  display: inline-block;
}
.list-price-month strong sup {
  font-size: 18px;
}
.item-price-table .btn-purchase:hover {
  color: #fff;
}
.price-table-color h3 {
  margin: 0;
  padding: 15px;
  text-transform: capitalize;
}
.price-table-color .list-price-support {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 30px;
}
.price-table-color .btn-purchase {
  color: #fff;
}
.price-table-color .btn-purchase:hover {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}
.price-table-color .list-price-month {
  padding: 27px 0;
}
.price-table-color .list-price-month li {
  vertical-align: middle;
  margin: 0 5px;
}
.price-table-color.blue .list-price-month {
  background-color: #00a5d9;
}
.price-table-color.blue .list-price-support li .fa {
  color: #00a5d9;
}
.price-table-color.blue .btn-purchase {
  background-color: #00a5d9;
  border-color: #00a5d9;
}
.price-table-color.yellow .list-price-month {
  background-color: #fe9500;
}
.price-table-color.yellow .list-price-support li .fa {
  color: #fe9500;
}
.price-table-color.yellow .btn-purchase {
  background-color: #fe9500;
  border-color: #fe9500;
}
.price-table-color.navi .list-price-month {
  background-color: #121b60;
}
.price-table-color.navi .list-price-support li .fa {
  color: #121b60;
}
.price-table-color.navi .btn-purchase {
  background-color: #121b60;
  border-color: #121b60;
}
.intro-about-team .image-right {
  margin-right: -100px;
  margin-left: -30px;
}
.intro-about-team {
  margin-bottom: 60px;
}
.intro-about-team .image-left {
  margin-right: -100px;
  position: relative;
  z-index: 1;
}
.intro-about-team .image-left img {
  width: 100%;
}
.intro-about-team h3 {
  line-height: 1.3;
  margin: 30px 0;
}
.content-about-team > .desc {
  margin-bottom: 25px;
}
.item-about-team {
  margin-bottom: 30px;
}
.about-team-thumb {
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
}
.about-team-info h3 {
  display: inline-block;
  margin-bottom: 8px;
  margin-top: 2px;
}
.about-team-info .desc {
}
.share-social-team {
  position: absolute;
  top: auto;
  bottom: -50px;
  left: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  background: #dc9814;
  opacity: .9;
  transition: all 0.4s ease-out 0s;
  -webkit-transition: all 0.4s ease-out 0s;
}
.about-team-thumb:hover .share-social-team{
  bottom: 0px;
}
.share-social-team a {
  display: inline-block;
  color: #fff;
  width: 40px;
  text-align: center;
}
.share-social-team a:hover{

}
.list-about-team {
  margin-top: 55px;
}
.item-slider-blog .banner-info {
  height: 60px;
}
/*Begin Email Popup*/
#mask {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9000;
  background-color: #000;
  display: none;
}
#boxes .window {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  z-index: 9999;
}
.window-popup {
  padding: 0px;
  width: 600px;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.3);
  position: relative;
  background: #fff;
}
.window-popup .close-popup {
  display: block;
  height: 40px;
  line-height: 40px;
  width: 40px;
  position: absolute;
  top: -20px;
  right: -20px;
  text-align: center;
  z-index: 999;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
  transition: all 0.4s ease-out 0s;
  -webkit-transition: all 0.4s ease-out 0s;
}
.window-popup .close-popup:hover{
  background: #dc9814;
}
.window-popup .close-popup:before, 
.window-popup .close-popup:after {
  position: absolute;
  top: 13px;
  content: ' ';
  height: 14px;
  width: 1px;
  background-color: #fff;
}
.window-popup .close-popup:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.window-popup .close-popup:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.content-newsletter-info{
  padding: 64px 50px 120px;
  background-repeat: no-repeat;
  background-position: top left;
  position: relative;
}
.content-newsletter-info:after{
  content:"";
  background: #fff;
  opacity: .5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
.content-newsletter-info *{
  position: relative;
  z-index: 1;
}
.content-newsletter-info h3.title30{
  margin-bottom: 6px;
}
.content-newsletter-info p.desc{
  color: #555;
}
.content-newsletter-info .form-popup{
  margin-top: 48px !important;
  margin-bottom: 33px !important;
}
.content-popup .form-newsletter form .mc4wp-form-fields{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.content-popup .form-newsletter input[type="email"]{
  margin: 0;
  height: 50px;
  line-height: 50px;
  width: auto;
}
.content-popup .form-newsletter form .submit-form{
  height: 50px;
  line-height: 50px;
}
.content-popup .form-newsletter form .submit-form input[type="submit"]{
  height: 50px;
  line-height: 50px;
  letter-spacing: 1px;
  text-indent: 0px;
  padding: 0 27px;
}
.content-popup .content-newsletter-info input[type=radio] {
  position: absolute;
  cursor: pointer;
  margin: 0;
  height: 20px;
  width: 20px;
  z-index: 111;
  opacity: 0;
}
.check {
  position: absolute;
  top: -1px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #e5e5e5;
}
.check:after {
  content: "";
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: #000;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.content-popup .content-newsletter-info input[type=radio]:checked ~ .check:after {
  display: block;
}
.content-popup .content-newsletter-popup label{
  margin: 0 12px;
  padding: 0 15px;
}
.form-popup-newsletter {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: -o-flex;
}
.form-popup-newsletter input[type="text"] {
  height: 50px;
  border: 1px solid #e5e5e5;
  padding: 0 15px;
  display: block;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  -o-flex-grow: 1;
  margin-right: 10px;
}
.form-popup-newsletter input[type="submit"] {
  height: 50px;
  background: #000;
  border: none;
  color: #fff;
  padding: 0 30px;
}
.content-newsletter-popup .row {
  margin-bottom: 20px;
}
.content-newsletter-popup label {
  font-weight: 400;
  margin: 0 5px;
  vertical-align: middle;
  color: #555;
}
.content-newsletter-popup input[type="checkbox"] {
  vertical-align: middle;
  margin: 0;
}
.content-popup-form {
  padding: 0 20px;
}
.content-popup-form .desc {
  margin-right: -10px;
}
.content-popup {
  position: relative;
  z-index: 99;
}
.content-popup input[type="text"] {
  width: 260px;
}
.content-popup .image-popup {
  margin: 0 0 15px;
  display: block;
  width: 100%;
}
.content-popup .title18 {
  margin-bottom: 22px;
}
/*End Email Popup*/

.product-subtotal .price-sale {
  font-size: 90%;
  text-decoration: line-through;
  margin-right: 10px;
  color: #777;
}
button.ajax_add_to_cart.button i {
    margin-left: 10px;
}
.product-thumbnail {
    background: #fff;
    position: relative;
}

.product-thumbnail-quantity {
    font-size: .85714em;
    font-weight: 500;
    white-space: nowrap;
    width: 20px;
    line-height: 20px;
    height: 20px;
    border-radius: 2em;
    text-align: center;
    background-color: rgb(241 175 81);
    color: #fff;
    position: absolute;
    right: -.75em;
    top: -.75em;
    z-index: 2;
}
table.product-table {
  width: 100%;
}
table.product-table, table.product-table td {
    border: 0;
}

img.product-thumbnail-image {
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    width: 4.6em;
    height: 4.6em;
    object-fit: cover;
}

td.product-description {
    font-size: 14px;
    width: calc(75% - 70px);
}

td.product-image {
    width: 70px;
}

td.product-price {
    width: 25%;
    text-align: right;
}
.woocommerce-checkout-thankyou {
    position: relative;
}

.woocommerce-checkout-thankyou h2 {
    font-size: 1.8461538461538463em;
    margin-bottom: 1rem;
}
.order_details {
  width: 100%;
}
ul.order_details.order_summary {
    background: #f6f6f6;
    padding: 30px;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1.5rem;
}

ul.order_details.order_summary li {
    margin-right: 2em;
    text-transform: uppercase;
    font-size: 0.65rem;
    line-height: 1em;
    border-right: 1px dashed #e8e8e8;
    padding-right: 2em;
}

ul.order_details.order_summary li strong {
    display: block;
    font-size: 1.4em;
    text-transform: none;
    line-height: 1.5em;
    margin-top: .3rem;
    color: #666;
}

.order_details th, .order_details td {
    padding: .7692307692307693em;
    line-height: 1.75;
    vertical-align: middle;
    border-top: 1px solid #dedede;
}

.order_details thead tr th {
    background: #f6f6f6;
}
.overlay-loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(255 255 255 / 65%);
}

.overlay-content {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.overlay-content img {
    width: 15px;
    opacity: 0.7;
}
.alert-added {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #f1af51;
    background: #fefaf5;
}

.alert-added i.fa-check-circle {
    font-size: 20px;
    display: inline-block;
    margin-right: 2rem;
    color: #f1af51;
}

.alert-added .text-alert {
    font-weight: 600;
    color: #f1af51;
    margin-right: 10px;
}

.alert-added a {color: #f1af51;font-weight: 600;}
.card-li {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.card-li a {
    padding: 1rem 0;
    border-bottom: 1px dotted #ccc;
    transition: .3s;
}

.card-li a:last-child {
    border: 0;
}
.card-li a i {
    display: inline-block;
    margin-right: 15px;
    font-size: 20px;
    /* color: #f1af51; */
}
.customer-order-details h2 {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}
.notice-checkout {
    font-weight: 400;
    padding: 10px;
    border: 1px solid #f1af51;
    line-height: 18px;
    margin: 0;
    font-size: 14px;
    margin-top: 0.5rem;
    text-align: left;
}

.notice-checkout p {
    margin-bottom: 0;
}
.payment-due-currency {
    font-size: .85714em;
    vertical-align: .2em;
    margin-right: .5em;
    color: #969696;
}
button.single_add_to_cart_button i {
    margin-left: 10px;
    display: inline-flex;
    font-size: 19px;
}
.notifi_product {
    display: flex;
    align-items: center;
    color: #f1af51;
}

.notifi_product i {
    font-size: 20px;
    margin-right: 1rem;
}
.variations-attr {
    display: block;
    margin-bottom: .5rem;
}
.color-variation {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.product-category-grid {
    display: grid;
    grid-template-columns: repeat(4,minmax(100px,1fr));
    grid-gap: 0;
    position: relative;
}

.list-product-category {
    position: relative;
    margin: 0 -15px;
}
.loading {
    width: 100%;
    padding: 2rem;
    text-align: center;
}

.loading img {
    width: 40px;
    opacity: .5;
}
.title-tab li {
    padding: 0 20px;
}

.title-tab li a {
    padding: 0 0 5px !important;
}
.empty-product.center {
    padding: 15px;
    text-align: center;
}
.quickview-modal .modal-dialog .modal-content .mid.woocommerce-product-gallery__image.image-lightbox.true img {
    height: 565px;
    width: 100%;
    object-fit: cover;
}
#product_quickview_button button {
    font-size: 12px;
}
.tt-menu {
    width: 100%;
    background: #fff;
    max-height: 500px;
    overflow: auto;
}
ul.tawcvs-swatches.price-filter-type-label li a {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
}
ul.tawcvs-swatches.attribute-color-label li {
    border: 0 !important;
    display: inline-block;
}
.price-filter-type-label li a i {
    font-size: 17px;
    color: #e0e0e0;
    margin-right: 10px;
    margin-bottom: 5px;
}
.price-filter-type-label li a.active i {
    color: #dc9814;
}
.price-filter-type-label li a.active i:before {
    content: "\f14a";
}
.price-filter-type-label li a.active i:after {
    content: "\10f14a";
}
.tawcvs-swatches span.fetch-color {
    width: 30px;
    height: 30px;
    border-radius: 0;
    cursor: pointer;
    border: 1px solid;
}

.grid-filter{
    display: grid;
    align-items: center;
    grid-gap: 15px;
    grid-template-columns: 30% 70%;
    position: relative;
}
.grid-filter select {
    font-size: 14px;
    width: 170px;
}
.empty-product {
    text-align: center;
    padding: 2rem;
}
.title-cate {
    font-size: 20px;
    margin: 0;
    display: flex;
    align-items: center;
}

.title-cate span {
    font-size: 14px;
    font-weight: 400;
    margin-left: 10px;
    display: inline-flex;
    margin-top: 2px;
}

.destroy-order {
    display: inline-flex;
    line-height: 30px;
    padding: 0 10px;
    background: #ff6565;
    color: #fff !important;
    border-radius: 3px;
}

.badge {
    font-weight: 500;
    line-height: 15px;
}